<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hotel_Management_System.Properties.Settings.masterConnectionString"
            connectionString="Data Source=LAPTOP-4JHKCBSK\SQLEXPRESS01;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Hotel_Management_System.Properties.Settings.addroomConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\addroom.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Hotel_Management_System.Properties.Settings.cmbloginConnectionString"
            connectionString="Data Source=LAPTOP-4JHKCBSK\SQLEXPRESS01;Initial Catalog=cmblogin;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>